<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- Title -->
        <title>OffThePan</title>

        <!-- Favicon -->
        <link rel="icon" href="img/core-img/favicon.ico" />

        <!-- Core Stylesheet -->
        <link rel="stylesheet" href="style.css" />
    </head>

    <body>
        <!-- the file for the navbar -->
        <%- include("partials/header") %>

        <!-- the file for the slideshow -->
        <%- include("partials/slideshow") %>

        <!-- ##### Top Catagory Area Start ##### -->
        <section class="top-catagory-area section-padding-80-0">
            <div class="container">
                <div class="row">
                    <!-- Top Catagory Area -->
                    <div class="col-12 col-lg-6">
                        <div class="single-top-catagory">
                            <img src="img/bg-img/bg2.jpg" alt="" />
                            <!-- Content -->
                            <div class="top-cta-content">
                                <h3>Strawberry Cake</h3>
                                <h6>Simple &amp; Delicios</h6>
                                <a href="/search" class="btn delicious-btn">See Full Receipe</a>
                            </div>
                        </div>
                    </div>
                    <!-- Top Catagory Area -->
                    <div class="col-12 col-lg-6">
                        <div class="single-top-catagory">
                            <img src="img/bg-img/bg3.jpg" alt="" />
                            <!-- Content -->
                            <div class="top-cta-content">
                                <h3>Chinesse Noodles</h3>
                                <h6>Simple &amp; Delicios</h6>
                                <a href="/search" class="btn delicious-btn">See Full Receipe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### Top Catagory Area End ##### -->

        <!-- ##### Best Receipe Area Start ##### -->
        <!-- <section class="best-receipe-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading">
                            <h3>The best Recipies</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                            <img src="img/bg-img/r1.jpg" alt="" />
                            <div class="receipe-content">
                                <a href="receipe-post.html">
                                    <h5>Sushi Easy Receipy</h5>
                                </a>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                            <img src="img/bg-img/r2.jpg" alt="" />
                            <div class="receipe-content">
                                <a href="receipe-post.html">
                                    <h5>Homemade Burger</h5>
                                </a>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                            <img src="img/bg-img/r3.jpg" alt="" />
                            <div class="receipe-content">
                                <a href="receipe-post.html">
                                    <h5>Vegan Smoothie</h5>
                                </a>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                            <img src="img/bg-img/r4.jpg" alt="" />
                            <div class="receipe-content">
                                <a href="receipe-post.html">
                                    <h5>Calabasa soup</h5>
                                </a>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                            <img src="img/bg-img/r5.jpg" alt="" />
                            <div class="receipe-content">
                                <a href="receipe-post.html">
                                    <h5>Homemade Breakfast</h5>
                                </a>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                            <img src="img/bg-img/r6.jpg" alt="" />
                            <div class="receipe-content">
                                <a href="receipe-post.html">
                                    <h5>Healthy Fruit Desert</h5>
                                </a>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- ##### Best Receipe Area End ##### -->

        <!-- ##### CTA Area Start ##### -->
        <section class="cta-area bg-img bg-overlay" style="background-image: url(img/bg-img/bg4.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Cta Content -->
                        <div class="cta-content text-center">
                            <h2>Recipes for Vegetarians</h2>
                            <p>
                                Check out the all new page for recipes specially made keeping vegetarians in
                                mind.
                            </p>
                            <a href="/vegetarian" class="btn delicious-btn">Discover all the receipies</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### CTA Area End ##### -->

        <!-- ##### Small Receipe Area Start ##### -->
        <section>
            <br />
        </section>
        <!-- ##### Small Receipe Area End ##### -->

        <!-- ##### Quote Subscribe Area Start ##### -->
        <section class="quote-subscribe-adds">
            <div class="container">
                <div class="row align-items-end">
                    <!-- Quote -->
                    <div class="col-12 col-lg-4">
                        <div class="quote-area text-center">
                            <span>"</span>
                            <h4>
                                <%= data.text %>
                            </h4>
                            <span>"</span>
                            <p><%= data.author %></p>
                            <div class="date-comments d-flex justify-content-between">
                                <div class="date">January 04, 2000</div>
                                <div class="comments">Quotes</div>
                            </div>
                        </div>
                    </div>

                    <!-- Newsletter -->
                    <div class="col-12 col-lg-4">
                        <div class="newsletter-area">
                            <h4>Subscribe to our newsletter</h4>
                            <!-- Form -->
                            <div
                                class="newsletter-form bg-img bg-overlay"
                                style="background-image: url(img/bg-img/bg1.jpg);"
                            >
                                <form action="#" method="post">
                                    <input type="email" name="email" placeholder="Subscribe to newsletter" />
                                    <button type="submit" class="btn delicious-btn w-100">Subscribe</button>
                                </form>
                                <p>
                                    Don't worry, we don't sell your emil to anyone.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Ads -->
                    <div class="col-12 col-lg-4">
                        <div class="delicious-add">
                            <img
                                src="https://www.minnesotamonthly.com/wp-content/uploads/sites/85/2019/06/HR-new-vendor-blue-ox-burger-bar-683x1024.jpg"
                                alt=""
                                height="200px"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### Quote Subscribe Area End ##### -->

        <!-- <div class="follow-us-instagram">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h5>Follow Us Instragram</h5>
                    </div>
                </div>
            </div>
            <div class="insta-feeds d-flex flex-wrap">
                <div class="single-insta-feeds">
                    <img src="img/bg-img/insta1.jpg" alt="" />
                    <div class="insta-icon">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>

                <div class="single-insta-feeds">
                    <img src="img/bg-img/insta2.jpg" alt="" />
                    <div class="insta-icon">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>

                <div class="single-insta-feeds">
                    <img src="img/bg-img/insta3.jpg" alt="" />
                    <div class="insta-icon">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>

                <div class="single-insta-feeds">
                    <img src="img/bg-img/insta4.jpg" alt="" />
                    <div class="insta-icon">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>

                <div class="single-insta-feeds">
                    <img src="img/bg-img/insta5.jpg" alt="" />
                    <div class="insta-icon">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>

                <div class="single-insta-feeds">
                    <img src="img/bg-img/insta6.jpg" alt="" />
                    <div class="insta-icon">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>

                <div class="single-insta-feeds">
                    <img src="img/bg-img/insta7.jpg" alt="" />
                    <div class="insta-icon">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div> -->

        <%- include("partials/footer") %>

        <!-- ##### All Javascript Files ##### -->
        <!-- jQuery-2.2.4 js -->
        <script src="js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="js/bootstrap/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="js/bootstrap/bootstrap.min.js"></script>
        <!-- All Plugins js -->
        <script src="js/plugins/plugins.js"></script>
        <!-- Active js -->
        <script src="js/active.js"></script>
    </body>
</html>
